<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container w-75">
      <h4><a class="btn btn-link p-4" href="/">Go to home page</a></h4>
      <h1 class="p-5 text-center">Users list</h1>
      <a class="btn btn-link" href="/users/create">Create new user</a
      ><br /><br />
      <%if(users && users.length>0){%>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i =0; i < users.length; i++ ) { %>
          <tr>
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].address %></td>
            <td><a href="/users/edit/<%=users[i].id%>">Edit</a></td>
            <td>
              <a
                href="/users/delete/<%=users[i].id%>"
                onclick="return confirm('Are you sure you want to delete the user : <%=users[i].name%>')"
                >Delete</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <%}else{%>
      <h2>No user found</h2>
      <%}%>
    </div>
  </body>
</html>
